<!DOCTYPE html>
<html>
    <head>
        <title>About Mario's Portfolio</title>
      </head>
    
    <body>

        <h1 style="text-align: center;">About Mario's Portfolio</h1>


        <h2 style="text-align: center;">Mario: The Plumber with a Heart of Gold</h2>

        <p style="text-align: center;">Mario, the heroic plumber from the Mushroom Kingdom, is known for his brave deeds and cheerful demeanor. Whether battling Bowser or fixing leaky pipes, Mario's can-do attitude and infectious optimism make him the go-to plumber for all your plumbing needs. With a trusty wrench in hand and a twinkle in his eye, Mario is ready to tackle any challenge and save the day!</p>

        <h2 style="text-align: left;">Mario's skills</h2>
        <ul style="text-align: left;">
            <li style="text-align: left;">Experienced plumber with a knack for fixing pipes and drains.</li>
            <li style="text-align: left;">Quick problem solver with creative solutions.</li>
            <li style="text-align: left;">Detail-oriented and precise in his work.</li>
            <li style="text-align: left;">Works well in a team, often partnering with Luigi.</li>
        </ul>
    </body>
</html>