<!DOCTYPE html>
<html>
    <head>
        <title>Contact Mario</title>
      </head>
    
    <body>
        <h1 style="text-align: center;">Contact Mario</h1>

        <ul>
            <li>🍄 Phone: 1-800-PLUMBER</li>
            <li>📧 Email: mario@plumbinghero.com</li>
            <li>🏠 Address: 123 Warp Pipe Lane, Mushroom Kingdom</li>
            <li>🌐 Website: www.plumbinghero.com/mario</li>
            <li>Feel free to reach out to Mario for all your plumbing needs!</li>
        </ul>
    </body>
</html>